* {
 -moz-user-select: none;
 -khtml-user-select: none;
 -webkit-user-select: none;
 -ms-user-select: none;
 user-select: none;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #222;
  color: #ccc;
  padding: 2rem;  
  -webkit-animation: color-change-2x 2s linear infinite alternate both;
          animation: color-change-2x 2s linear infinite alternate both;
}
ul li { 
  list-style: none; 
  display: inline-block;
}
button {
  background: transparent;
  border-radius: 2rem;
  border: 1px solid #fff;
  padding: 0.5rem 2rem;
}
.game {
  text-align: center;
}
.logo {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
}
.card {
  width: 180px;
  border: 3px solid transparent;
  animation: fadeIn 1s ease-in both;
  cursor: pointer;
}
.card:hover {
  border-radius: 1rem;
  border: 1px solid rgba(255,255,255,0.7);
  transition: all 10ms ease-in;
  margin: 2px;
}
.cardCount {
  position: absolute;
  text-align: center;
  left: 42%;
  bottom: -3px;
  padding: 7px;
  min-width: 10px;
  min-height: 10px;
  background: rgba(0,0,0, 0.7);
  border-radius: 1.5rem;
  color: #fff;
  border: 2px solid rgba(255,255,255,0.3);
  box-shadow: 0px 3px 4px rgba(0,0,0, 0.7);
  opacity: 0.9;
  font-weight: bold;
  font-size: 8px;
  z-index: 9999;
}
.selected {
  border-radius: 10px;
  border: 3px solid green;
  position: relative;
}
.cardStack {
  display: inline-block;
  position: relative;
}
.cardStack .card {
  top: 10px;
  left: 0;
}
.cardStacks {
  text-align: center;
}
.text-left { text-align: left; }
.pick {
  position: absolute;
  top: 10px;
  right: 10px;
}
.pick img { width: 80px; }


/************* Animations *****************/
.flip-scale-up-ver {
  z-index: 999;
  -webkit-animation: flip-scale-up-ver 0.33s linear both;
          animation: flip-scale-up-ver 0.33s linear both;
}
@-webkit-keyframes flip-scale-up-ver {
  0% {
    -webkit-transform: scale(1) rotateY(180deg);
            transform: scale(1) rotateY(180deg);
  }
  50% {
    -webkit-transform: scale(2.5) rotateY(90deg);
            transform: scale(2.5) rotateY(90deg);
  }
  100% {
    -webkit-transform: scale(1) rotateY(0);
            transform: scale(1) rotateY(0);
  }
}
@keyframes flip-scale-up-ver {
  0% {
    -webkit-transform: scale(1) rotateY(180deg);
            transform: scale(1) rotateY(180deg);
  }
  50% {
    -webkit-transform: scale(2.5) rotateY(90deg);
            transform: scale(2.5) rotateY(90deg);
  }
  100% {
    -webkit-transform: scale(1) rotateY(0);
            transform: scale(1) rotateY(0);
  }
}
.card-enter {
  opacity: 0.01;
}
.card-enter.card-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.card-leave {
  opacity: 1;
}
.card-leave.card-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
.bounce-in-top {
  -webkit-animation: bounce-in-top 1.1s both;
          animation: bounce-in-top 1.1s both;
}
@-webkit-keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@-webkit-keyframes color-change-2x {
  0% {
    background: #19dcea;
  }
  100% {
    background: #b22cff;
  }
}
@keyframes color-change-2x {
  0% {
    background: #19dcea;
  }
  100% {
    background: #6bc07e;
  }
}
